<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysq.theTourGuide.mapper.SignInMapper">
  <resultMap id="BaseResultMap" type="com.ysq.theTourGuide.entity.SignIn">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="s_id" jdbcType="BIGINT" property="sId" />
    <result column="tourist_id" jdbcType="BIGINT" property="touristId" />
    <result column="date" jdbcType="DATE" property="date" />
  </resultMap>

</mapper>